<section>
  <div class="jumbotron text-center">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
        <h2>THÔNG TIN VỀ CHÚNG TÔI</h2>
      </div>
    </div>
    <br>
    <div class="row">
      <p class="lead">
        Bắc Vĩnh bắt đầu viết trang sử của mình, với vỏn vẹn 20 gia đình di cư đến lập nghiệp vào cuối năm 1954. Họ phá rừng đốn cây giữa một nơi hoang vu rậm rạp. Trong các gia đình này một số gốc Bắc và một số gốc Vinh để giữ mãi tình quê Mẹ và thể hiện tinh thần hoà đồng, họ đã dùng hai chữ Bắc vĩnh đặt tên cho nhóm mình. Dần dà một họ đạo được thành lập với cái tên Bắc Vĩnh.
      </p>
    </div>
    <div class="row">
      <p>
        <a class="btn btn-primary btn-lg" href="/">Xem chi tiết</a>
      </p>
    </div>
  </div>
</section>
